.slider-banner {
  font-size: 12px;
  line-height: 1.25;
  color: #333;
  font-weight: 400;
  font-family: "Montserrat", Verdana, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
img{

    background-position: 50%;
    background-size: cover;
    height: 100%;
   
}
